@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Faculty+Glyphic&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Paprika&family=Special+Gothic+Expanded+One&display=swap');
@import "tailwindcss";


@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme{
    --color-dark-green: #388E3C;
    --color-light-green: #66BB6A;
    --color-soft-gray: #E0E0E0;
    --color-solidarity-orange: #FF9800;

    --font-epilogue: "Epilogue";
}